.App {
  background-image: url("https://res.cloudinary.com/dlnpuom7o/image/upload/v1710478697/Screenshot_2024-03-15_102703_zwyk8x.png");
  background-color: rgb(10, 111, 81);
  background-size: cover;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-width: 100%;
}
p {
  font-size: 20px;
}

.main-heading-banner,
.main-heading-footer {
  font-style: italic;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
}
.main-heading-banner {
  font-size: 59px;
  font-family: Arial;
  font-weight: 900;
}
span {
  color: rgb(251, 173, 29);
}
.header-of-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.list-container {
  position: relative;
  top: -40px;
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 17px;
  align-self: flex-start;
}
button {
  background-color: rgb(183, 12, 12);
  border-radius: 7px;
  padding: 10px;
  color: white;
  border: none;
  box-shadow: 0px 1px 0px 1px rgb(65, 65, 65);
  cursor: pointer;
  font-size: 20px;
}
.talk-to-us-btn {
  background-color: green;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 10px;
}
.youtube-video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wtsp-icon {
  height: 20px;
  border-radius: 20px;
  padding-right: 2px;
}
.buy-btn {
  width: 80px;
  margin-top: 15px;
}
iframe {
  border-radius: 10px;
}

@media (max-width: 670px) {
  .App {
    flex-direction: column;
    justify-content: flex-start;
  }
  .intro-line {
    line-height: 1.5;
  }
  .top-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;
  }
  .list-container {
    display: none;
  }
  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  iframe {
    width: 100%;
    height: 30vh;
  }
  .youtube-video-container-mobile {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .youtube-video-container-desktop {
    display: none;
  }
  .footer {
    width: 100%;
    color: white;
    background-color: rgb(164, 10, 10);
    display: flex;
    flex-direction: column;
  }
  .main-heading-footer {
    text-align: left;
    padding: 10px;
    text-shadow: 4px 0px 1px 0px black;
  }
  .main-heading-banner {
    display: none;
  }
  .footer p,
  h2 {
    padding-left: 10px;
    position: relative;
    top: -30px;
  }
}
@media (min-width: 670px) {
  .top-container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    max-width: 45%;
    margin-top: 5%;
  }
  .intro-line {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.7;
    position: relative;
    top: -45px;
  }
  .youtube-video-container-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-top: 10%;
  }
  iframe {
    width: 30vw;
    max-width: 100%;
  }
  .youtube-video-container-mobile {
    display: none;
  }
  .buttons-container {
    position: relative;
    top: -50px;
  }
  .footer {
    display: none;
  }
}
